<%- partial("../common/header") %>
<%- partial("../common/nav", {currentSection: "dashboard"}) %>

<%
  var sampleData = [
  {
    title: "Uncaught TypeError: undefined is not a function",
    type: "error",
    application: "Penguin",
    date: "Apr 07, 2015 04:20 AM"
  },
  {
    title: "net::ERR_INTERNET_DISCONNECTED",
    type: "warning",
    application: "Pigeon",
    date: "Apr 06, 2015 02:30 PM"
  },
  {
    title: "info::getPlaylist from cache",
    type: "info",
    application: "Amaterasu",
    date: "Apr 06, 2015 10:15 PM"
  },
  {
    title: "Uncaught TypeError: undefined is not a function",
    type: "error",
    application: "Penguin",
    date: "Apr 07, 2015 04:20 AM"
  },
  {
    title: "net::ERR_INTERNET_DISCONNECTED",
    type: "warning",
    application: "Pigeon",
    date: "Apr 06, 2015 02:30 PM"
  },
  {
    title: "info::getPlaylist from cache",
    type: "info",
    application: "Amaterasu",
    date: "Apr 06, 2015 10:15 PM"
  },
  {
    title: "Uncaught TypeError: undefined is not a function",
    type: "error",
    application: "Penguin",
    date: "Apr 07, 2015 04:20 AM"
  },
  {
    title: "net::ERR_INTERNET_DISCONNECTED",
    type: "warning",
    application: "Pigeon",
    date: "Apr 06, 2015 02:30 PM"
  },
  {
    title: "info::getPlaylist from cache",
    type: "info",
    application: "Amaterasu",
    date: "Apr 06, 2015 10:15 PM"
  },
  {
    title: "info::getPlaylist from cache",
    type: "info",
    application: "Amaterasu",
    date: "Apr 06, 2015 10:15 PM"
  }
];
%>

<div id="dashboard" class="page dashboard">
  <div class="page-wrap wrap">
    <div class="page-header">
      <h1 class="page-title">Latest Logs</h1>
    </div>

    <div id="dashboard-table" class="list">
      <div class="list-header">
        <div class="title">Title</div>
        <div class="type">Type</div>
        <div class="app">Application</div>
        <div class="date">Date</div>
      </div>
      <div class="list-body">
        <% _.each(sampleData, function(data) { %>
          <div class="item">
            <div class="title"><a href="#"><%- data.title %></a></div>
            <div class="type <%- data.type %>"><%- data.type %></div>
            <div class="app"><a href="/applications/1"><%- data.application %></a></div>
            <div class="date"><%- data.date %></div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>