<%- partial("../common/header") %>
<%- partial("../common/nav", {currentSection: "applications"}) %>

<%
  var sampleData = [
  {
    id: 1,
    name: "Penguin",
    active: true,
    logs: 100,
    date: "Apr 07, 2015 04:20 AM"
  },
  {
    id: 1,
    name: "Pigeon",
    active: true,
    logs: 50,
    date: "Apr 06, 2015 02:30 PM"
  },
  {
    id: 1,
    name: "Amaterasu",
    active: false,
    logs: 50,
    date: "Mar 06, 2015 10:15 PM"
  }
];
%>

<div id="applications-index" class="page applications">
  <div class="page-wrap wrap">
    <div class="page-header">
      <h1 class="page-title">Applications</h1>
      <div class="header-actions">
        <a href="/applications/new" class="primary-button">Add New</a>
      </div>
    </div>

    <div class="filters">
      <input type="text" placeholder="Keyword" class="field" />
      <select class="field">
        <option>Status</option>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>
      <a href="#" class="outline-button">Apply Filters</a>

      <div class="pagination">
        <input type="text" class="field" value="1" /> of 1
      </div>
    </div>

    <div id="applications-table" class="list">
      <div class="list-header">
        <div class="name">Name</div>
        <div class="logs">Logs</div>
        <div class="status">Status</div>
        <div class="date">Last Activity</div>
      </div>
      <div class="list-body">
        <% _.each(sampleData, function(data) { %>
          <div class="item">
            <div class="name"><a href="/applications/<%- data.id %>"><img src="<%- Util.toAssetsUrl('/images/default-app-icon.png') %>" class="icon" /></a><a href="/applications/<%- data.id %>"><%- data.name %></a></div>
            <div class="logs <%- data.type %>"><%- data.logs %></div>
            <div class="status <%- data.active ? "active" : "inactive" %>"><%- data.active ? "active" : "inactive" %></div>
            <div class="date"><%- data.date %></div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>