<%- partial("../common/header") %>
<%- partial("../common/nav", {currentSection: "users"}) %>

<%
  var sampleData = [
  {
    name: "Alexander Magtipon",
    active: true,
    email: "abc@gmail.com",
    date: "Apr 07, 2015 04:20 AM"
  },
  {
    name: "Alexandrei Santos",
    active: false,
    email: "abc@gmail.com",
    date: "Mar 06, 2015 10:15 PM"
  },
  {
    name: "Jayvic San Antonio",
    active: false,
    email: "abc@gmail.com",
    date: "Mar 06, 2015 10:15 PM"
  },
  {
    name: "Leslie James",
    active: true,
    email: "abc@gmail.com",
    date: "Apr 06, 2015 02:30 PM"
  },
  {
    name: "Makmak Garcia",
    active: false,
    email: "abc@gmail.com",
    date: "Mar 06, 2015 10:15 PM"
  },
  {
    name: "Yuni Olaires",
    active: false,
    email: "abc@gmail.com",
    date: "Mar 06, 2015 10:15 PM"
  }
];
%>

<div id="users-index" class="page users">
  <div class="page-wrap wrap">
    <div class="page-header">
      <h1 class="page-title">Users</h1>
      <div class="header-actions">
        <a href="#" class="primary-button">Add New</a>
      </div>
    </div>

    <div class="filters">
      <input type="text" placeholder="User" class="field" />
      <select class="field">
        <option>Status</option>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>
      <a href="#" class="outline-button">Apply Filters</a>

      <div class="pagination">
        <input type="text" class="field" value="1" /> of 1
      </div>
    </div>

    <div id="users-table" class="list">
      <div class="list-header">
        <div class="name">Name</div>
        <div class="email">Email</div>
        <div class="status">Status</div>
        <div class="date">Last Activity</div>
      </div>
      <div class="list-body">
        <% _.each(sampleData, function(data) { %>
          <div class="item">
            <div class="name"><a href="#"><img src="<%- Util.toAssetsUrl('/images/default-avatar.png') %>" class="avatar" /></a><a href="#"><%- data.name %></a></div>
            <div class="email"><a href="mailto:<%- data.email %>"><%- data.email %></a></div>
            <div class="status <%- data.active ? "active" : "inactive" %>"><%- data.active ? "active" : "inactive" %></div>
            <div class="date"><%- data.date %></div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>